@model SGPI.Models.TblUsuario
@{
    ViewData["Title"] = "Buscar Usuario";
    Layout = "NavbarAdministradorLayout";
}



<div class="" style="width:100%; padding-top:5%; padding-left:10%; padding-right:10%">
    
    <div class="card text-center mx-auto bg-light">
        <div class="card-header mx-auto bg-light">
            <span class="mt-5 font-weight-bold"> Buscar Usuario </span>
        </div>

        <div class="card-body">
            <form action="" method="post">
                <div class="row input-group form-group justify-content-center">
                    <div class="input-group-prepend col-3 input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-hashtag"></i></span>
                        <input asp-for="NumeroDocumento" type="text" id="txtUsuario" class="form-control" placeholder="Número de documento" required>
                        <input type="submit" class="btn btn-outline-dark float-right btn-success" value="Buscar">
                    </div>
                </div>

                @if (Model != null)
                {
                    <table> 
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model=>model.NumeroDocumento)</th>
                                <th>@Html.DisplayNameFor(model=>model.PrimerNombre)</th>
                                <th>@Html.DisplayNameFor(model=>model.SegundoNombre)</th>
                                <th>@Html.DisplayNameFor(model=>model.PrimerApellido)</th>
                                <th>@Html.DisplayNameFor(model=>model.SegundoApellido)</th>
                                <th>@Html.DisplayNameFor(model=>model.Email)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(modelitem=>modelitem.PrimerNombre)</td>
                                <td>@Html.DisplayFor(modelitem=>modelitem.SegundoNombre)</td>
                                <td>@Html.DisplayFor(modelitem=>modelitem.PrimerApellido)</td>
                                <td>@Html.DisplayFor(modelitem=>modelitem.SegundoApellido)</td>
                                <td>@Html.DisplayFor(modelitem=>modelitem.Email)</td>
                            </tr>
                        </tbody>
                    </table>
                }


                
                <div class="row font-weight-bold">
                    <div class="col border ">Nombre</div>
                    <div class="col border">Primer Apellido</div>
                    <div class="col border">Segundo Apellido</div>
                    <div class="col border">Genero</div>
                    <div class="col border">Documento</div>
                    <div class="col border">Programa</div>
                    <div class="col border">Rol</div>
                    <div class="col border">Correo</div>
                </div>
                <div class="row justify">
                    <div class="col border">Mauricio</div>
                    <div class="col border"> Amariles</div>
                    <div class="col border"> Camacho</div>
                    <div class="col border"> Masculino</div>
                    <div class="col border"> 10035552544</div>
                    <div class="col border"> Especialista ST</div>
                    <div class="col border"> Administrador</div>
                    <div class="col border"> ejemplo@tdea.edu.co</div>
                </div>
                

            </form>
        </div>
    </div>
    
</div>