@model SGPI.Models.TblUsuario
@{
    ViewData["Title"] = "Buscar Usuario";
    Layout = "NavbarAdministradorLayout";
}



<div class="" style="width:100%; padding-top:5%; padding-left:10%; padding-right:10%">
    
    <div class="card text-center mx-auto bg-light">
        <div class="card-header mx-auto bg-light">
            <span class="mt-5 font-weight-bold"> Buscar Usuario </span>
        </div>

        <div class="card-body">
            <form action="" method="post">
                <div class="row input-group form-group justify-content-center">
                    <div class="input-group-prepend col-3 input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-hashtag"></i></span>
                        <input asp-for="NumeroDocumento" type="text" id="txtUsuario" class="form-control" placeholder="Número de documento" required>
                        <input type="submit" class="btn btn-outline-dark float-right btn-success" value="Buscar">
                    </div>
                </div>
            </form>
                @if (Model != null)
                {
                    <div class="row font-weight-bold">
                        <div class="col border ">@Html.DisplayNameFor(model=>model.NumeroDocumento)</div>
                        <div class="col border">@Html.DisplayNameFor(model=>model.SegundoNombre)</div>
                        <div class="col border">@Html.DisplayNameFor(model=>model.PrimerApellido)</div>
                        <div class="col border">@Html.DisplayNameFor(model=>model.SegundoApellido)</div>
                        <div class="col border">@Html.DisplayNameFor(model=>model.Email)</div>
                    </div>
                    <div class="row justify">
                        <div class="col border">@Html.DisplayFor(modelitem=>modelitem.PrimerNombre)</div>
                        <div class="col border"> @Html.DisplayFor(modelitem=>modelitem.SegundoNombre)</div>
                        <div class="col border"> @Html.DisplayFor(modelitem=>modelitem.PrimerApellido)</div>
                        <div class="col border"> @Html.DisplayFor(modelitem=>modelitem.SegundoApellido)</div>
                        <div class="col border"> @Html.DisplayFor(modelitem=>modelitem.Email)</div>
                    </div>
                }
                @if (ViewBag.encontrado == 0)
                {
                    <script>
                        Toastify({
                            text: "Usuario encontrado",
                            duration: 3200,
                            destination: "",
                            newWindow: true,
                            close: false,
                            gravity: "top", // `top` or `bottom`
                            position: "center", // `left`, `center` or `right`
                            stopOnFocus: true, // Prevents dismissing of toast on hover
                            style: {
                                background: "green"
                            },
                            onClick: function () { } // Callback after click
                        }).showToast();
                    </script>
                }else if (ViewBag.encontrado == 1)
                {
                    <script>
                        Toastify({
                            text: "Usuario no encontrado",
                            duration: 3200,
                            destination: "",
                            newWindow: true,
                            close: false,
                            gravity: "top", // `top` or `bottom`
                            position: "center", // `left`, `center` or `right`
                            stopOnFocus: true, // Prevents dismissing of toast on hover
                            style: {
                                background: "red"
                            },
                            onClick: function () { } // Callback after click
                        }).showToast();
                    </script>
                }
            
        </div>
    </div>
    
</div>